body{
    background-image: url("Lab Works 1.3.5/world-map.png");
    background-position: top;
}
.page {
    width: 600px;
    margin:auto;
}
div h1{
    letter-spacing: 4px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}
div h2{
    letter-spacing: 2px;
    font-style: italic;
    text-align: center;
    font-weight: normal;
}

a:link{
    color: blue;
}
a:visited{
    color: darkgray;
}
article{
    color: darkslategray;
    text-indent: 20px;
}
