.header {
    display: flex;
    background-color: cornflowerblue;
    flex-direction: row;
    justify-content:flex-start;
}
.header .button{
    background-color:darkgoldenrod;
    color:aliceblue;
    border: 0;
    padding:10px;
    margin-left: 10px;
    margin-top:10px;
    margin-bottom:10px;
}
.button:last-of-type{
    margin-left:auto;
    margin-right:15px;
}
.block1, .block2, .block3{
    display:flex;
    justify-content:flex-start;
}
    .block1 p:first-child, .block2 p:first-child, .block3 p:first-child {
        background-color: moccasin;
        padding: 10px;
      
    }
    .block1 p:nth-child(2), p:nth-child(3), .block2 p:nth-child(2), p:nth-child(3), .block3 p:nth-child(2), p:nth-child(3) {
        max-width: 200px;
        min-width:200px;
        box-sizing: border-box;
        background-color: bisque;
        border: 1px solid red;
        padding: 10px;
     
    }


    .block1 p:first-child{
        flex-grow: 5;
    }

.column1, .column2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
    .column1 p:first-child, .column2 p:first-child {
        max-width: 200px;
        min-width: 200px;
        background-color: brown;
        color: aliceblue;
        padding: 10px;
        margin: 16px;
        box-sizing: border-box;
    }

    .column1 p:last-child, .column2 p:last-child{
        background-color:orange;
        color:aliceblue;
        padding:10px;
        display:flex;
    }
    .jobs button{
        border: 1px solid red;
        border-radius:10px;
        background-color:brown;
        color:aliceblue;
        align-self:flex-end;
        padding:10px;
    }