.header{
    background-color:aqua;
    margin: 5px;
    padding: 15px;
}
.header button{
    background-color:blueviolet;
    color:aliceblue;
    padding:15px;
    margin-right:20px;
    border:0px;
    font-size:16px;
   
}

.sidebar {
    margin: 40px;
    padding: 15px;
    background-color: pink;
    width: 400px;
    height: 50px;
}
.sidebar button{
    width:45%;
    margin-right: 5%;
    border: 1px solid red;
    background-color:lightcoral;
    color:aliceblue;
    padding:10px;
    box-sizing:border-box;
    float: left;
    font-size:14px;
    }